
scale2/*
scale/*
npy/*
model/modelLoad/modelFolder/*
도.wav
dist/*
atari_test.*
03.png
test.h5
to_wav.py
__pycache__/game.cpython-38.pyc
__pycache__/live_to_scale.cpython-38.pyc
build/game/Analysis-00.toc
build/game/base_library.zip
build/game/EXE-00.toc
build/game/game.exe.manifest
build/game/PKG-00.pkg
build/game/PKG-00.toc
build/game/PYZ-00.pyz
build/game/PYZ-00.toc
build/game/Tree-00.toc
build/game/Tree-01.toc
build/game/Tree-02.toc
build/game/warn-game.txt
build/game/xref-game.html
model/Dense_for_interview.py
model/modelLoad/load_Dense.py
model/modelLoad/load_lgbm.py
model/modelLoad/load_xgboost.py
preprocessing/conv2d_to_npy .py
preprocessing/fre_to_midi.py
preprocessing/hz_index_npy.py
preprocessing/load_npy.py
preprocessing/mag_to_npy.py
preprocessing/move.py
preprocessing/real_to_npy_index.py
preprocessing/real_to_npy.py
preprocessing/rename.py
test/gan1.py
test/lib.py
test/librosa_test.py
test/librosa1.py
test/librosa2.py
test/predict_time_test2.py
test/real_time_input.py
test/wave_load.py
